.mofo-modal-main {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);

  max-height: calc(100% - 8px);
  max-width: calc(100% - 8px);
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2), 0px 2px 6px rgba(0, 0, 0, 0.4);
  padding: .2em;
  /*outline: 0;*/
  border: 1px solid #aaaaaa;
  background: #f3f3f3 url("images/mofo-bg-content.png") 50% 50% repeat;
  color: #222222;
  border-radius: 4px;
}

.mofo-modal-head {
  background: #00ccff;
  flex-shrink: 0;
  padding: .4em 1em;
  position: relative;
  cursor: move;
  border: 1px solid #367fa9;
  background: #3c8dbc;
  color: #ffffff;
  font-weight: bold;
  border-radius: 4px;
  -webkit-user-select:none;
}

.mofo-modal-head button{
  position: absolute;
  right: .3em;
  top: 50%;
  width: 20px;
  margin: -10px 0 0 0;
  padding: 1px;
  padding-left: 2px;
  height: 20px;
  cursor: pointer;
  /*outline: 0;*/
}

.mofo-button-new{
  display: inline-block;
  position: relative;
  padding: 0;
  line-height: normal;
  margin-right: .1em;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  border-radius: 4px;
  padding: .4em 1em;
  border: 1px solid #367fa9;
  background: #3c8dbc;
  color: #ffffff;
  font-weight: bold;
  margin-left: 3px;
}

.mofo-button-new:focus{
  border: 1px solid #333333;

}

.mofo-button-new:hover{
  background: #3680ab;
}

.mofo-button-new,
.mofo-button-new:link,
.mofo-button-new:visited,
.mofo-button-new:hover,
.mofo-button-new:active {
  text-decoration: none;
  color: #fbfbfb;
}

.mofo-modal-content{
  background: #aaaaaa;
  overflow-y: auto;
  margin: 2px 0 2px;
  border: 0;
  /*padding: .5em .5em;*/
  padding: 5px 10px 5px 5px;
  background: none;
  height: 100%;
}

.mofo-modal-foot {
  height: 45px;
  flex-shrink: 0;
  overflow: hidden;
  text-align: right;
  /*border-width: 1px 0 0 0;*/
  background-image: none;
  /*margin-top: .5em;*/
  padding: .7em .8em .5em .4em;
  border-top: 1px solid #aaaaaa;
  max-height: 55px;

}

.mofo-widget-overlay {
  background: #aaaaaa url("images/mofo-bg-modal.png") 50% 50% repeat;
  opacity: .4;
  filter: Alpha(Opacity=40); /* support: IE8 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
